body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  color: rgb(212, 212, 212);
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
}
input,select, textarea, .radios, .checks {
  margin-bottom: 20px;
}
input, button {
  border: none;
  background-color: rgb(43, 43, 43);
}

.radios label, .checks label {
  margin-right: 20px;
}